<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>재고 현황</title>
    <link rel="stylesheet" th:href="@{/css/inventory.css}">
</head>
<body>

<nav style="margin-bottom: 20px;">
    <button onclick="location.href='/inbound'">입고</button>
    <button onclick="location.href='/inventory'">보관</button>
    <button onclick="alert('피킹 화면 준비 중')">피킹</button>
    <button onclick="alert('패킹 화면 준비 중')">패킹</button>
    <button onclick="alert('출고 화면 준비 중')">출고</button>
</nav>


<h1>🏗️창고 보관 위치</h1>

<table>
    <tbody>
    <tr th:each="rowLetter : ${rowLabels}">
        <td th:each="col : ${#numbers.sequence(1, 10)}" style="width: 120px; height: 100px;">
            <div class="location-label" th:text="${rowLetter + '-' + col}">A-1</div>

            <div th:each="item : ${grid[rowLetter + '-' + col]}" class="product-entry"
                 th:text="${item.product.name + '(' + item.quantity + ')'}">
            </div>

        </td>
    </tr>
    </tbody>
</table>


</body>
</html>
